/*IMPORTOWANIE CZCIONEK Z GOOGLEFONTS*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800,900&subset=latin-ext');
/*RESET CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*CZCIONKA DLA WSZYTSKICH ELEMENTÓW NA STRONIE*/
body {
    font-family: 'Raleway', Tahoma, Arial, sans-serif;;
}

/*KLASY OGÓLNE*/
.center {
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.span-color {
    color: #20B196;

}

a:hover {
    cursor: pointer;
}

/*HEADER*/
.page_header {
    background-color: black;
    height: 42px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 15px 0;
    position: relative;
}

.toUppercase {
    text-transform: uppercase;
}

.header_logo {
    color: #fff;
    text-decoration: none;

}

.header__nav {
    list-style: none;
}

.nav__element {
    list-style: none;
    margin-left: 50px;
}

.nav__link {
    text-decoration: none;
    color: #fff;
}

.nav__element:nth-child(1) {
    position: relative;
}

.nav__element:nth-child(2) {
    margin-left: 50px;
}

.nav__element:nth-child(3) {
    margin-left: 39px;
}

.dropdown__menu {
    display: none;
    margin-top: 23px;
    position: absolute;
    z-index: 10;
    right: -37px;
}

.dropdown__menu:after {
    position: absolute;
    content: "";
    top: -10px;
    left: 45px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 10px;
    border-left-width: 10px;
    border-bottom: 10px solid black;
}

.dropdown__trigger:hover .dropdown__menu {
    display: block;
}

.dropdown__element {
    list-style: none;
    background-color: #000;
    padding: 8px 18px;
    text-transform: capitalize;
    font-weight: 400;
}

.dropdown__item {
    text-decoration: none;
    color: #fff;
}

/*SLIDER*/

.main_slider {
    height: 504px;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(191, 191, 191, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(191, 191, 191, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bfbfbf', GradientType=0);
    position: relative;
}

.slider__img {
    flex-basis: 30%;
    /*margin-top: 4x0px;*/
    /*border: 1px solid red;*/
    width: 601px;
    margin-left: -45px;
    margin-top: 66px;
    margin-right: -132px;
}

.slider__title {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    position: relative;
}

.slider__btn {
    margin: auto 0;
    font-size: 42px;
    color: #20B196;
    /*border: 1px solid red;*/
}

.fas:hover {
    transform: scale(2);
    transition: 0.5s;
    z-index: 3;
}

.prev {
    position: absolute;
    top: 228px;
}

.slider__heading {
    margin-top: 134px;
    margin-right: 62px;
    font-size: 40px;
    font-weight: 500;
}

.slider__article {
    width: 68%;
    font-size: 14px;
    text-align: center;
    margin-bottom: 208px;
    margin-left: -45px;
    line-height: 1.5em;
    word-spacing: 0.1em;
}

.slider__button {
    text-decoration: none;
    background-color: #20B196;
    padding: 12px 46px;
    color: white;
    border-radius: 10px;
    font-size: 22px;
}

.slider__bttn {
    position: absolute;
    bottom: 133px;
    right: 198px;
}

.fas:hover {
    transform: scale(2);
    transition: 0.5s;
    z-index: 3;
}

/*zdjęcia foteli */
.chair__pic1 {
    /*width: 100%;*/
    width: 330px;
    height: 227px;
    background-image: url("../images/box1_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 26px;
    position: relative;
    border: 1px solid #DBDBDB;
}

.chair__pic1__title {
    z-index: 3;
    position: absolute;
    margin-top: 162px;
    margin-left: 15px;
    font-weight: 600;
}


.chair__pic1__title::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #27C8A7;
    width: 138px;
    height: 7px;
    margin-top: 4px;
    z-index: 2;
}

.chair__pic1__title:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    padding: 21px 120px;
    margin: -12px -10px;
    z-index: -1;
}

.chair__pic2 {
    /*width: 100%;*/
    width: 330px;
    height: 227px;
    background-image: url("../images/box2_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 26px;
    padding-right: 26px;
    position: relative;
    border: 1px solid #DBDBDB;
}

.chair__pic2__title {
    z-index: 2;
    position: absolute;
    margin-top: 162px;
    margin-left: 11px;
    font-weight: 600;
}



.chair__pic2__title::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #27C8A7;
    width: 138px;
    height: 7px;
    margin-top: 4px;
}

.chair__pic2__title:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    padding: 21px 120px;
    margin: -12px -10px;
    z-index: -1;
}

.chair__pic__info {
    border: 1px solid #DBDBDB;
    margin-left: 22px;
    height: 255px;
    width: 344px;
    font-size: 15px;
    line-height: 1.2;
}

.chair__pic {
    margin-top: 27px;
}

.chair__pic__info__title {
    font-weight: 600;
    line-height: 0.9;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 20px;
}

.chair__pic__info__title::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #27C8A7;
    width: 138px;
    height: 7px;
    margin-top: 4px;
}

.chair__pic__info__main,
.chair__pic__info__foot {
    margin-right: 30px;
    margin-top: 20px;
    margin-left: 20px;
    /*color: #797979;*/
    font-weight: 300;
}

/*cennik*/

.price {
    margin: 133px auto 0;
    text-align: center;
    border: 2px solid #D5D5D5;
    width: 330px;
    height: 500px;
    justify-content: space-between;
}

.price::before {
    content: "";
    width: 50px;
    height: 50px;
    border: 2px solid #DBDBDB;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 123px;
    z-index: 1;
}

.price::after {
    content: "";
    width: 22px;
    height: 22px;
    border: 2px solid #DBDBDB;
    background-color: #DBDBDB;
    border-radius: 50%;
    position: absolute;
    top: 137px;
    z-index: 2;
}

.price__section {
    background-color: #F9F9F9;
    margin-top: 67px;
    position: relative;
    padding-bottom: 65px;
}

.price__head {
    font-weight: 500;
    font-size: 22px;
    position: relative;
    color: #8B8B8B;
    top: 43px;
}

.price__head::after {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    width: 320px;
    background-color: #27C8A7;
    margin-top: 7px;
}

.price__title {
    font-size: 23px;
    font-weight: 500;
    color: #27C8A7;
    padding-top: 27px;
}

.price__price {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 130px;
    border: 2px solid #DBDBDB;
    border-radius: 50%;
    background-color: white;
    color: #C1C1C1;
    z-index: 2;
    position: absolute;
    top: 239px;

}

.price__big {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: -17px;
}

.price__small {
    font-size: 15px;
    font-weight: 700;
}

.price__option {
    /*height: 176px;*/
    position: absolute;
    top: 416px;
    font-size: 24px;
}

.price__delivery {
    height: 43px;
    width: 326px;
    background-color: #E4E4E4;
    color: #A1A1A1;
    vertical-align: center;
    padding-top: 10px;
}

.price__service {
    height: 43px;
    width: 326px;
    background-color: #F1F1F1;
    color: #959595;
    padding-top: 10px;
}

.price__warranty {
    height: 43px;
    width: 326px;
    background-color: #E4E4E4;
    color: #A8A8A8;
    padding-top: 10px;
}

.price__advice {
    height: 43px;
    width: 326px;
    background-color: #F1F1F1;
    color: #959595;
    padding-top: 10px;
}

.price__button {
    margin-bottom: 23px;
}

.price__btn {
    text-decoration: none;
    background-color: #27C8A7;
    color: #fff;
    padding: 8px 26px;
    border-radius: 5px;
}

/*cennik hover*/

.price:hover {
    border: 2px solid #27C8A7;
    background-color: #27C8A7;
}

.price:hover:before {
    border: 2px solid #27C8A7;
    background-color: #27C8A7;
}

.price:hover:after {
    background-color: #fff;
    border: 2px solid #fff;
}

.price:hover .price__title {
    color: #fff;
}

.price:hover .price__big .price__small {
    color: #27C8A7;
}

.price:hover .price__small {
    color: #27C8A7;
}

.price:hover .price__price {
    border-color: #27C8A7;
}

.price:hover .price__price p {
    color: #27C8A7;
}

.price:hover .price__delivery {
    color: #9E9E9E;
    background-color: #fff;
}

.price:hover .price__warranty {
    color: #9E9E9E;
    background-color: #fff;
}

.price:hover .price__btn{
    color: #27C8A7;
    background-color: #fff;
}

/*formularz kontaktowy*/

.form__section {
    width: 100%;
    padding: 33px 12px;
}

.form__title {
    font-weight: 500;
    font-size: 22px;
    color: #575757;
    position: relative;
    margin-left: -6px;
}

.form__title::after {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    width: 320px;
    background-color: #27C8A7;
    margin-top: 4px;
    margin-left: -6px;
}

.form__input {
    margin-top: 57px;
    width: 50%;
    padding-left: 100px;
}

.form__name,
.form__email {
    width: 633px;
    height: 64px;
    border: 1px solid #27C8A7;
    font-size: 30px;
    padding-left: 16px;
    font-weight: 200;
    font-family: 'Raleway', Tahoma, Arial, sans-serif;
    margin-bottom: 7px;
    letter-spacing: 2px;


}

.form__message {
    width: 633px;
    height: 187px;
    border: 1px solid #27C8A7;
    font-size: 30px;
    padding-left: 17px;
    padding-top: 16px;
    font-weight: 200;
    font-family: 'Raleway', Tahoma, Arial, sans-serif;
    resize: none;
    margin-top: 3px;
    letter-spacing: 2px;
}

.form__pic {
    background-image: url("../images/red_chair.png");
    width: 100%;
    height: 208px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 28px;
    margin-left: 13px;
}

.form__checkbox {
    -webkit-appearance: none;
    height: 48px;
    width: 48px;
    background-color: white;
    border: 1px solid #27C8A7;
}

.form__checkbox:checked {
    -webkit-appearance: none;
    background-image: url("../images/form_ok.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form__checkbox:focus {
    outline: 0;
}

.form__verify {
    width: 40%;
    position: relative;
}

.form__verify__checkbox {
    margin-top: -13px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 50px;
    margin-bottom: 7px;
}

.checkbox__agreement {
    width: 90%;
    padding-top: 5px;
    font-size: 19px;
    color: #989898;
    padding-left: 14px;
    word-spacing: 1px;
}

.form__button {
    margin-bottom: 14px;
    margin-left: 54px;
}

.form__btn {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    background-color: #27C8A7;
    color: white;
    border-radius: 5px;
    padding: 18px 107px;
    letter-spacing: 2px;
}

/*footer*/

.footer__section {
    justify-content: space-between;
    margin-top: 57px;
    margin-bottom: 10px;
    color: #989898;
    align-items: center;
}

.footer__copy{
    word-spacing: 4px;
    margin-left: -2px;
}


.footer__icons {
    margin-left: 223px;
    margin-top: -5px;
}

.footer__sitonchair {
    margin-right: -1px;
    letter-spacing: 3px;
    font-weight: 600;
}

/*SLIDER*/

.main__slider__photo ul {
    list-style: none;
}

.main__slider__photo li {
    display: none;
}

.main__slider__photo .visible {
    display: inline-block;
}
